@import "buttons";

.register-container {
  height: 100%;
  padding: 0 2%;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-wrapper {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.64);

  h2 {
    color: $text-color;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .form-item {
    position: relative;

    .form-label {
      margin-bottom: 0;
    }

    &-genero {
      display: flex;
      flex-direction: row;
      gap: 50px;
    }

    .form-control:focus {
      color: #212529;
      background-color: #fff;
      border-color: $secondary-color;
      box-shadow: none;
    }

    span {
      position: absolute;
      top: 40px;
      right: 10px;
    }

    span.check {
      color: #2ecc71;
      visibility: hidden;
    }

    span.error {
      color: red;
      visibility: hidden;
    }

    small {
      visibility: true;
      display: block;
      margin-bottom: 10px;
    }
  }

  .form-item.success {
    input {
      border-color: #2ecc71;
    }

    .check {
      color: #2ecc71;
      visibility: visible;
    }
  }

  .form-item.error {
    input {
      border-color: #e74c3c;
    }

    .error {
      color: #e74c3c;
      visibility: visible;
    }

    small {
      visibility: visible;
      color: #e74c3c;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }
  .btn-primary {
    @include btn-primary(30%);
  }

  .btn-secondary {
    @include btn-primary(30%);
  }
}

input[type="radio"] {
  display: grid;
  place-content: center;
}

input[type="radio"] {
  appearance: none;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid;
  border-radius: 50%;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $primary-color;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

@media screen and (max-width: 560px) {
  .buttons {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
